<!DOCTYPE html>
<html>
    <head>
        <style>
        a {
            color: #C42CB0
        }
    </style>
    </head>
<body>
  <br>

        <h2>Hi {{user}}, </h2>
  <br>
        <p>We've recieved a request to reset your password on your account. You can reset your password <a href="http://localhost:3000/reset-password?uid={{uid}}&token={{token}}">here</a>.</p>
  <br>
  <p>This link will expire in 24 hours. After that, you'll need to submit a new request in order to reset your password. If you don't want to reset it, simply disregard this email.</p>
  <br>
  <br>
<p>DevTrove</p>

</html>
  <p>Thanks,
