.forgot-password-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 9rem;
  background-image: linear-gradient(
    to left bottom,
    #d16ba5,
    #cc66a7,
    #c762aa,
    #c15ead,
    #bb5bb0,
    #ae5fb7,
    #a062bc,
    #9166c1,
    #786ec5,
    #5e75c4,
    #457ac0,
    #2f7db9
  );
}

.forgot-password {
  background: #fff;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  height: 100%;
  width: 500px;
  min-height: 300px;
}

.forgot-password-title {
  text-align: center;
  h2 {
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-family: 'Bebas Neue', cursive;
  }
  p {
    font-weight: 100;
    color: var(--color-text-light);
    width: 330px;
    margin: 0 auto;
  }
}

.forgot-password-input-container {
  text-align: center;
  margin: 3rem auto;
  label {
    margin-right: 4rem;
    color: var(--color-text-light);
    font-size: 0.9rem;
  }
  input {
    display: block;
    border: 1px solid var(--color-border);
    margin: 0 auto;
    width: 200px;
    margin-top: 0.5rem;
    height: 35px;
    border-radius: var(--border-radius-sm);
  }
}

.forgot-password-btn-container {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  button {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: var(--border-radius-sm);
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: all 0.25s ease-in;
    &:hover {
      opacity: 0.8;
    }
  }
}

.forgot-password-spinner-container {
  display: flex;
  justify-content: center;
}

.forgot-password-success {
  margin-top: 2rem;
  svg {
    color: limegreen;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .forgot-password {
    width: 90%;
  }
}
