@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --color-primary: #2f7db9;
  --color-secondary: #d73286;
  --color-red: #e11d48;
  --color-purple: #b157b5;
  --color-text: #4f4e4e;
  --color-offwhite: #ececf6;
  --color-gray: #d0d8d0;
  --color-darkgray: #a0a7a0;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 20px;
}
