.lists-container {
  display: flex;
  overflow-x: auto;
  overflow: y auto;
  min-height: 100vh;
  list-style-type: none;
}

@media (min-width: 1280px) {
  .lists-container {
    width: 100%;
  }
}

.list-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
}
.list-inner-modal {
  background: #fff;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
  width: 600px;
  min-height: 750px;
}

.list-container {
  background: #ebecf0;
  border-radius: var(--border-radius-sm);
  margin: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid #e3e3e4;
  min-width: 250px;
  min-height: 200px;
  height: fit-content;
  word-break: break-all;
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.list-title-input-container {
  padding: 0.1rem;
  input {
    border: 1px solid var(--color-border);
    width: 90%;
    height: 35px;
    border-radius: var(--border-radius-sm);
  }
}

.list-title-trigger {
  position: relative;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    text-align: center;
  }
  svg {
    cursor: pointer;
    color: var(--color-text-light);
  }
}

.list-add-card-trigger {
  display: flex;
  color: var(--color-text-light);
  cursor: pointer;
  align-items: center;
  svg {
    margin: 0 1rem;
  }
}

.list-input-wrapper {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-sm);
  background: #fff;

  textarea {
    width: 90%;
    max-width: 90%;
    border-radius: var(--border-radius-sm);
    border: none;
  }
}

.list-input-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  p {
    margin: 0;
    padding: 0.1rem;
    color: var(--color-offwhite);
  }
  svg {
    margin-top: -1rem;
    cursor: pointer;
    color: var(--color-text-light);
  }
}

.list-add-card-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 0.5rem;
}

@keyframes slidedown {
  0% {
    top: 0px;
  }
  100% {
    top: 50px;
  }
}

.list-add-card-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.25rem 0.25rem 0.25rem;
  align-items: center;
  position: relative;
  button {
    cursor: pointer;
    color: var(--color-offwhite);
    background: var(--color-primary);
    border: none;
    height: 35px;
    width: 60px;
    padding: 0.1rem 0.4rem;
    border-radius: var(--border-radius-sm);
    &:hover {
      opacity: 0.8;
    }
  }
  svg {
    cursor: pointer;
    color: var(--color-text-light);
    margin-left: 1rem;
  }
}

.list-card-container {
  background: #fff;
  border-radius: var(--border-radius-sm);
  width: 95%;
  cursor: pointer;
  margin: 0.5rem auto;
  padding: 0.25rem;
  word-break: break-all;
  box-shadow: var(--box-shadow);
  &:hover {
    background: darken(#fff, 3%);
  }

  p {
    margin: 0;
  }
  svg {
    color: var(--color-text-light);
    cursor: pointer;
  }
}

.list-card-color-labels-container {
  position: absolute;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-sm);
  background-color: #e3e3e4;
  box-shadow: var(--box-shadow);
  top: 55px;
  left: 52px;
  min-width: 225px;
  z-index: 5;
}

.list-card-color-labels-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c7cc;
  p {
    margin: 0;
    font-size: 0.85rem;
  }
  svg {
    color: var(--color-text-light);
  }
}
.list-card-color-column {
  display: flex;
  position: relative;
  align-items: center;

  input {
    color: var(--color-offwhite);
    border: none;
    display: block;
    margin: 0.2rem;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-border);
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.list-card-label {
  padding: 0.25rem;
  width: 90%;
  border-radius: var(--border-radius-sm);
  color: var(--color-offwhite);
}
.list-card-label-column {
  display: flex;
  color: var(--color-text-light);
  flex-direction: column;
}

@media (max-width: 600px) {
  .list-inner-modal {
    width: 90%;
  }
}
