.reset-password-container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 9rem;
  background-image: linear-gradient(
    to left bottom,
    #d16ba5,
    #cc66a7,
    #c762aa,
    #c15ead,
    #bb5bb0,
    #ae5fb7,
    #a062bc,
    #9166c1,
    #786ec5,
    #5e75c4,
    #457ac0,
    #2f7db9
  );
}

.reset-password {
  background: #fff;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow);
  margin: 0 auto;
  height: 100%;
  width: 500px;
  min-height: 300px;
}

.reset-password-title {
  text-align: center;
  h2 {
    font-size: 2.4rem;
    color: var(--color-text-light);
    font-family: 'Bebas Neue', cursive;
  }
  p {
    font-weight: 100;
    color: var(--color-text-light);
    width: 330px;
    font-size: 0.8rem;
    margin: 0 auto;
  }
}

.reset-password-inputs-container {
  margin: 0 auto;
}

.reset-password-input-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  label {
    color: var(--color-text-light);
    font-size: 0.85rem;
  }
  input {
    height: 35px;
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
  }
  svg {
    position: absolute;
    font-size: 1.5rem;
    color: var(--color-text-light);
    right: 2px;
    top: 5px;
    cursor: pointer;
  }
}

.reset-password-btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  button {
    border: none;
    width: 200px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    color: #fff;
    height: 35px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.reset-password-errors {
  text-align: center;
  p {
    margin: 0.1rem;
  }
}

@media (max-width: 600px) {
  .reset-password {
    width: 90%;
  }
}
